In [2]:
import pandas as pd 
    
# making data frame from csv file 
data = pd.read_csv("Monthly_Food_Retail_Prices.csv") 
    
# making new data frame with dropped NA values 
new_data = data.dropna(axis = 0, how ='any') 
    
new_data

,State,Centre,Commodity,Variety,Unit,Category,Date,Retail Price
0,Andhra Pradesh,Chittoor,Moong,Split,Kg.,Food,JAN-2001,24.0
1,Andhra Pradesh,Guntur,Moong,Split,Kg.,Food,JAN-2001,26.0
2,Andhra Pradesh,Kurnool,Moong,Split,Kg.,Food,JAN-2001,25.5
10,Bihar,Hajipur,Moong,Split,Kg.,Food,JAN-2001,28.0
12,Bihar,Patna,Moong,Split,Kg.,Food,JAN-2001,27.0
...,...,...,...,...,...,...,...,...
1147436,West Bengal,Asansol,Wheat,Desi,Kg.,Food,MAR-2021,21.0
1147437,West Bengal,Asansol,Wheat,Kalyan HYV,Kg.,Food,MAR-2021,22.0
1147438,West Bengal,Howrah,Wheat,Desi,Kg.,Food,MAR-2021,25.0
1147439,West Bengal,Howrah,Wheat,Kalyan HYV,Kg.,Food,MAR-2021,27.0
1147444,West Bengal,Malda,Wheat,Desi,Kg.,Food,MAR-2021,20.0

In [19]:
new_data

,State,Centre,Commodity,Variety,Unit,Category,Retail Price,Month,Year
0,Andhra Pradesh,Chittoor,Moong,Split,Kg.,Food,24.0,JAN,2001
1,Andhra Pradesh,Guntur,Moong,Split,Kg.,Food,26.0,JAN,2001
2,Andhra Pradesh,Kurnool,Moong,Split,Kg.,Food,25.5,JAN,2001
10,Bihar,Hajipur,Moong,Split,Kg.,Food,28.0,JAN,2001
12,Bihar,Patna,Moong,Split,Kg.,Food,27.0,JAN,2001
...,...,...,...,...,...,...,...,...,...
1147436,West Bengal,Asansol,Wheat,Desi,Kg.,Food,21.0,MAR,2021
1147437,West Bengal,Asansol,Wheat,Kalyan HYV,Kg.,Food,22.0,MAR,2021
1147438,West Bengal,Howrah,Wheat,Desi,Kg.,Food,25.0,MAR,2021
1147439,West Bengal,Howrah,Wheat,Kalyan HYV,Kg.,Food,27.0,MAR,2021
1147444,West Bengal,Malda,Wheat,Desi,Kg.,Food,20.0,MAR,2021

In [3]:
new_data[["Year"]] = new_data[["Year"]].apply(pd.to_numeric)

KeyError: "None of [Index(['Year'], dtype='object')] are in the [columns]"

In [24]:
new_data

,State,Centre,Commodity,Variety,Unit,Category,Retail Price,Month,Year
0,Andhra Pradesh,Chittoor,Moong,Split,Kg.,Food,24.0,JAN,2001
1,Andhra Pradesh,Guntur,Moong,Split,Kg.,Food,26.0,JAN,2001
2,Andhra Pradesh,Kurnool,Moong,Split,Kg.,Food,25.5,JAN,2001
10,Bihar,Hajipur,Moong,Split,Kg.,Food,28.0,JAN,2001
12,Bihar,Patna,Moong,Split,Kg.,Food,27.0,JAN,2001
...,...,...,...,...,...,...,...,...,...
1147436,West Bengal,Asansol,Wheat,Desi,Kg.,Food,21.0,MAR,2021
1147437,West Bengal,Asansol,Wheat,Kalyan HYV,Kg.,Food,22.0,MAR,2021
1147438,West Bengal,Howrah,Wheat,Desi,Kg.,Food,25.0,MAR,2021
1147439,West Bengal,Howrah,Wheat,Kalyan HYV,Kg.,Food,27.0,MAR,2021
1147444,West Bengal,Malda,Wheat,Desi,Kg.,Food,20.0,MAR,2021

In [4]:
dataTypeSeries = new_data.dtypes
dataTypeSeries

State            object
Centre           object
Commodity        object
Variety          object
Unit             object
Category         object
Date             object
Retail Price    float64
dtype: object

In [1]:
indexNames = new_data[ (new_data['Year'] >= 2001) & (new_data['Year'] <= 2015) ].index
new_data.drop(indexNames , inplace=True)

NameError: name 'new_data' is not defined

In [30]:
new_data

,State,Centre,Commodity,Variety,Unit,Category,Retail Price,Month,Year
135540,Andhra Pradesh,Chittoor,Moong,Split,Kg.,Food,80.0,JAN,2010
135541,Andhra Pradesh,Guntur,Moong,Split,Kg.,Food,90.0,JAN,2010
135542,Andhra Pradesh,Kurnool,Moong,Split,Kg.,Food,90.0,JAN,2010
135543,Andhra Pradesh,Vishakhapatnam,Moong,Split,Kg.,Food,86.0,JAN,2010
135544,Arunachal Pradesh,Itanagar,Moong,Split,Kg.,Food,100.0,JAN,2010
...,...,...,...,...,...,...,...,...,...
1147436,West Bengal,Asansol,Wheat,Desi,Kg.,Food,21.0,MAR,2021
1147437,West Bengal,Asansol,Wheat,Kalyan HYV,Kg.,Food,22.0,MAR,2021
1147438,West Bengal,Howrah,Wheat,Desi,Kg.,Food,25.0,MAR,2021
1147439,West Bengal,Howrah,Wheat,Kalyan HYV,Kg.,Food,27.0,MAR,2021
1147444,West Bengal,Malda,Wheat,Desi,Kg.,Food,20.0,MAR,2021

In [31]:
new_data.to_csv('updated monthly food retail prices.csv')